# Advanced Python Programming - First Assignment

**Topics Covered:** Data Types, Data Structures, Loops, Conditionals, Functions  

**Instructions:**  
- Answer all questions  
- Write clean code  
- Do not use external libraries 

**Submission Guidelines:**
- Save as: `FirstName_LastName_Assignment1.ipynb`
- Test all code before submission
- Include output for each question
- Add comments explaining your logic
- Deadline: 12-19-2025

## Question 1: Data Types and Input Handling
Take student name, roll number, age, and marks as input.  
Display each value with its data type.  
Convert age to float and marks to int before displaying.

In [3]:
print("Info. about you pleasee. Enter your")
name= input("name:")
age= int(input("age"))
marks= float(input("Marks:"))

#displaying
print(f"\nYou are {age}({type(age)}) years old {name}({type(name)}) . You've obtained {marks}({type(marks)})  marks.")

# conversion of datatypes
print("\nAfter conversion:")
print(f"age= {type(float(age))}\nmarks= {type(int(marks))}")

Info. about you pleasee. Enter your

name: akriiti
age 77
Marks: 88

You are 77(<class 'int'>) years old akriiti(<class 'str'>) . You've obtained 88.0(<class 'float'>)  marks.

After conversion:
age= <class 'float'>
marks= <class 'int'>

## Question 2: Conditional Logic
Accept marks (0–100) and display:
- Excellent (≥80)
- Good (≥60)
- Pass (≥40)
- Fail (<40)

In [11]:
marks= int(input("\nEnter the marks:"))
if marks < 0 or marks >100:
    print("Invalid marks. Try again!")
elif marks >= 80:
    print("You've got Excellent marks!")

elif marks >= 60:
    print("You've got Good marks!")

elif marks >= 40:
    print("You've got Passing marks!")
else:
    print("You failed. ")

Enter the marks: -9

Invalid marks. Try again!

## Question 3: Looping with Conditions
Print numbers between 1 and 100 that are divisible by 4 but not divisible by 8.

In [13]:
print("The numbers between 1-100 that are divisible by 4 but not by 8:")
op=[]
for i in range(1,100):
    if i %4 == 0 and i%8 != 0:
        op.append(i)
print(op)

The numbers between 1-100 that are divisible by 4 but not by 8:
[4, 12, 20, 28, 36, 44, 52, 60, 68, 76, 84, 92]

## Question 4: List Operations
Given:
```python
marks = [55, 72, 48, 90, 67, 72, 90]
```
Find max, min, count of 72, and marks ≥ 60.

In [33]:
marks = [55, 72, 48, 90, 67, 72, 90]
print(
    f"The max no is {max(marks)}."
    f"\nThe min no. is {min(marks)}."
    f"\nThe numbers >= 60: {[a for a in marks if a >= 60]}")

The max no is 90.
The min no. is 48.
The numbers >= 60: [72, 90, 67, 72, 90]

## Question 5: Tuple and Immutability
Create a tuple of 5 subjects and attempt modification.  
Explain result using comments.

In [39]:
tup= ("science","maths","english","nepali","biology")
print(tup[0])

# modifying the tuple at index 0
print(tup[0]=="chemistry")

science
False

<b>Answer:</b> It prints flase. Its because tuples are immutable

## Question 6: List Sanitization and Metrics
Given:
```python
marks = [45, -3, 88, "NA", 102, None, 67]
```

Write a function that:
1. Removes invalid entries  
2. Returns:
   - Cleaned list  
   - Number of invalid entries  
   - Percentage of valid marks  

Return values using a tuple.

In [79]:
marks = [45, -3, 88, "NA", 102, None, 67]

def clean(marks):
    #empty list
    cleaned=[]
    invalid= 0

    for m in marks:
        if isinstance (m,(int,float)) and 0<=m<=100:
            cleaned.append(m)

        else:
            invalid+=1
    total= len(marks)
    Percentage=  (len(cleaned) / total) * 100
    return cleaned, invalid,Percentage
a,b,c= clean(marks)

print(f"Cleaned list: {a}\nNumber of invalid entries: {b}\nPercentage of valid marks: {c}")

Cleaned list: [45, 88, 67]
Number of invalid entries: 4
Percentage of valid marks: 42.857142857142854

## Question 7: Dictionary Usage
Create a dictionary of roll number and name.  
Implement add, update, and display operations using functions.

In [95]:
dictt= {
    "akriti": 5,
    "ram":8,
    'hari':9,
}
print(dictt)

#add
dictt["gita"]=5

#update
dictt["akriti"]=1

#display
print(dictt)

{'akriti': 5, 'ram': 8, 'hari': 9}
{'akriti': 1, 'ram': 8, 'hari': 9, 'gita': 5}

## Question 8: Prime Number Function
Write `is_prime(n)` and display prime numbers between 1 and 50.

In [106]:
           
print("The prime numbers between 1 and 50:")

def is_prime():
    prime = []
    for num in range(2, 50):
        for i in range(2, int(num**0.5)+1):
            if num % i == 0:
                break  
        else:
            prime.append(num)  # else of for → no divisors found
    return prime

print(is_prime())

The prime numbers between 1 and 50:
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

## Question 9: Function Composition
Write functions to:
1. Calculate total marks  
2. Calculate average  
3. Classify result (Distinction / Pass / Fail)

Then write a function that combines them and returns:
```
(name, total, average, result)
```

Explain why modular design is beneficial.

In [128]:
size = 5
marks = []

for i in range(size):
    m = int(input(f"Enter mark {i+1}: "))
    marks.append(m)

def student_result(marks):
    def total():
        sum_marks = 0
        for mark in marks:
            sum_marks += mark
        return sum_marks

    def avg():
        return total() / len(marks)
    
    def result():
        average = avg()
        print(f"Total marks: {total()}")
        print(f"Average marks: {average:.2f}")
        if average >= 80:
            print("Grade: Distinction")
        elif average >= 60:
            print("Grade: Good")
        elif average >= 40:
            print("Grade: Try more")
        else:
            print("Grade: Fail")
    
    result() #internal call to trigger above 2 functions

student_result(marks)

Enter mark 1:  99
Enter mark 2:  99
Enter mark 3:  88
Enter mark 4:  77
Enter mark 5:  99

Total marks: 462
Average marks: 92.40
Grade: Distinction

<b>Modular design</b> means breaking a program into smaller, independent parts.( modules or functions).Each module has specific task.Its beneficial as it increases:
- readability
- Maintainability
- Resuability
- Scalability

## Question 10: Defensive Input Parsing
Write a function that accepts a raw input string in the format:

```
"Ram|101|22|78, 88, 91"
```
Hint: Parse student data from string format: "Name|Roll|Age|Mark1, Mark2, Mark3"

Tasks:
1. Extract name, roll number, age, and marks  
2. Convert them into appropriate data types  
3. Validate age (≥16) and marks (0–100)  
4. Return the result as a dictionary using roll number as the key  

The function must not crash for malformed input.

In [33]:
def get_info(raw):
    try:
        #split main parts
        parts= raw.split("|")
        if len(parts) != 4:
            return "Invalid Format"

        name= parts[0]
        roll=int(parts[1])
        age=int(parts[2])
#Validate age
        if age <= 16:
            return "Invalid age"

#Split and convert marks
        marks_str= parts[3].split(",")
        marks=[]

        for m in marks_str:
            mark= int(m)
            if mark < 0 or mark >100:
                return "Invalid marks"
            marks.append(mark)

#return dict
        return{
            roll:{
                "name": name,
                "age": age,
                "marks":marks
                }
        }
    except:
#handle unexpected error
        return "Invalid Input!!"
        
#input
raw_input= input("\nEnter the data:\n")
result= get_info(raw_input)
print(f"\n{result}")

Enter the data:
 akriti|5|19|88,99,99

{5: {'name': 'akriti', 'age': 19, 'marks': [88, 99, 99]}}

## Question 11: Type Stability and Conversion
Given the list:
```python
data = [10, "20", 30.5, "abc", None, True]
```

Write a function that:
1. Separates numeric and non-numeric values  
2. Converts numeric values to float  
3. Returns both lists  

Explain in comments why `True` behaves as a numeric value.

In [42]:
data = [10, "20", 30.5, "abc", None, True]

def seperation(raw):
#empty list for numeric and non-numeric
    numeric = []
    non_numeric = []

    for item in raw:
        try:
            num=float(item)
            numeric.append(num)
        except:
    #if conversion fails, its not a numeric value
            non_numeric.append(item)
    return numeric, non_numeric

    
num,non_num= seperation(data)
print("\nNumeric values: ",num)
print("\nNumeric values: ",non_num)

Numeric values:  [10.0, 20.0, 30.5, 1.0]

Numeric values:  ['abc', None]

`True behaves like a number` because in python bool is a subclass of int. `True` behaves like a `1` and False as 0. So, `float(True)->1.0`

## Question 12: Pattern-Based Looping
Generate the sequence:
```
2, 6, 12, 20, 30, 42, 56
```

Rules:
- Do not hardcode the list  
- Use loops and conditionals only  
- Explain the pattern in comments

In [52]:
terms=7
for n in range(1,terms+1):
    value= n* (n+1)
    print(value,end=" ")

2 6 12 20 30 42 56

<b>Pattern:</b>
 When analyzed the differences btn each terms is : `4,6,8,10,..`. These are consecutive even numbers. Hence the pattern is formed by multiplying two consecutive natural numbers. ie, <b>n(n+1)</b>

## Question 13: Set-Based Enrollment Analysis
Given:
```python
python = {"Amit", "Sita", "Hari", "Nita"}
sql = {"Hari", "Ram", "Nita"}
statistics = {"Amit", "Hari", "Gita"}
```

Find:
1. Students enrolled in exactly two subjects  
2. Students enrolled in only one subject  
3. Students enrolled in all subjects

In [60]:
python = {"Amit", "Sita", "Hari", "Nita"}
sql = {"Hari", "Ram", "Nita"}
statistics = {"Amit", "Hari", "Gita"}
#exactly 2 -> in nay 2 but not all 3
py_sql = (python & sql) - statistics
py_stat = (python & statistics) - sql
sql_stat= (sql & statistics) -python
exactly_two = py_sql | py_stat | sql_stat

#only one
only_py = python - sql - statistics
only_sql = sql - python - statistics       
only_statistics = statistics - sql - python
only_one = only_py | only_sql | only_statistics

#all subj
all_three =  python & statistics & sql

#display
print(f"1.Exactly in 2 subjects: {exactly_two}\n2.Only one: {only_one}\n3.All subjects: {all_three}")

1.Exactly in 2 subjects: {'Amit', 'Nita'}
2.Only one: {'Ram', 'Sita', 'Gita'}
3.All subjects: {'Hari'}

## Question 14: Dictionary Aggregation Logic
Given:
```python
records = {
    "Amit": [78, 82, 91],
    "Sita": [88, 79, 85],
    "Hari": [45, 52, 60]
}
```

Write a function that:
1. Computes average per student  
2. Identifies top and bottom performers  
3. Returns results using a single dictionary

In [76]:
records = {
    "Amit": [78, 82, 91],
    "Sita": [88, 79, 85],
    "Hari": [45, 52, 60]
}

def analyze(records):
    results= {}
    for student,marks in records.items():
        avg= sum(marks)/len(marks)
        results[student]= {'average': avg}

    averages= []
    for student in results:
        averages.append(results[student]["average"])

    max_avg = max(averages)
    min_avg = min(averages)

    for student in results:
        avg= results[student]["average"]
        if avg== max_avg:
            results[student]["status"]="Top Performer"
        
        elif avg== min_avg:
            results[student]["status"]="Low Performer"
        
        else:
            results[student]["status"]="Average Performer"
            
    return results
final = analyze(records)
print(final)

{'Amit': {'average': 83.66666666666667, 'status': 'Average Performer'}, 'Sita': {'average': 84.0, 'status': 'Top Performer'}, 'Hari': {'average': 52.333333333333336, 'status': 'Low Performer'}}

## Question 15: Nested Data Structure Analysis
Given a nested dictionary representing a school's grade book:
```python
school_data = {
    "Class A": {
        "Amit": [78, 82, 91],
        "Sita": [88, 79, 85]
    },
    "Class B": {
        "Hari": [45, 52, 60],
        "Ram": [92, 88, 95]
    }
}
```

Write a function that:
1. Calculates the average marks for each student
2. Finds the top performer in each class
3. Calculates the overall school average
4. Returns a dictionary with:
   - `class_toppers`: {class_name: (student_name, average)}
   - `school_average`: float
   - `student_averages`: {student_name: average}

Explain in comments why nested dictionaries are useful for hierarchical data.

In [80]:
school_data = {
    "Class A": {
        "Amit": [78, 82, 91],
        "Sita": [88, 79, 85]
    },
    "Class B": {
        "Hari": [45, 52, 60],
        "Ram": [92, 88, 95]
    }
}

def analyze_marks(school_data):
    average={}
    topper={}
    total_marks=0
    total_std=0

    for class_name, students in school_data.items():
        top_student = None
        top_avg= 0

        for student, marks in students.items():
            avg= sum(marks)/len(marks)
            average [student] = avg

            if avg > top_avg:
                top_avg = avg
                top_student = student

            total_marks+=sum(marks)
            total_std+=len(marks)
        topper[class_name] = (top_student, top_avg)

    school_average = total_marks / total_std
    return {
        "class_toppers" : topper,
        "school_average" : school_average,
        "student_average" : average
    }

final_result= analyze_marks(school_data)
print(final_result)

{'class_toppers': {'Class A': ('Sita', 84.0), 'Class B': ('Ram', 91.66666666666667)}, 'school_average': 77.91666666666667, 'student_average': {'Amit': 83.66666666666667, 'Sita': 84.0, 'Hari': 52.333333333333336, 'Ram': 91.66666666666667}}

<b>Nested Dictionaries</b> are useful for hierarchical data bc:
- Each class can have multiple students
- Easy to access class
- Makes aggregration(like class topper, school average) simple
- Increases readability and matches real world structure